.assign-1-shape-1 {
    color: white;
    background-color: blueviolet;
    background-color: rgb(138,43,226);
    background-color: #8A2BE2 ;
    padding: 20px;
    margin-bottom:20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.assign-1-shape-2{
    color: white;
    background-color: rgba(137, 43, 226, 0.5);
    padding: 20px;
    margin-bottom:20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.assign-1-shape-3{
    color: white;
    background-color: rgba(137, 43, 226, 0.1);
    padding: 20px;
    width: 500px;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}
