.parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.parent div {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100px;
}

.one {
    margin-left: 150px;
    background-color: #ff9800;
}

.two {
    margin-right: 150px;
    order: 1;
    background-color: #8bc34a;
}
.three {
    margin-left: 150px;
    background-color: #795548;
}
.four {
    background-color: #673ab7 ;
}
