.parent {
  width: 600px;
  height: 300px;
  background-color: #eee;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}


.parent div {
  text-align: center;
  color: white;
  background-color: #009688;
  padding: 10px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.two {
  align-self: flex-start;
  width: 50%;
}
