.one{
    text-transform: uppercase;
    text-indent: 100px;
    font-family: sans-serif;
}

.two{
    text-transform: capitalize;
    text-indent: 110px;
    font-family: sans-serif;
}

.three{
    text-transform: lowercase;
    text-indent: 115px;
    font-family: sans-serif;
}
