p{
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  height: 20px;
  padding: 10px;
  margin: 10px auto;
  counter-increment: count;
  position: relative;
  border-right: 8px solid rgb(244, 68, 52);
}
p::after{
  content: counter(count);
  position: absolute;
  top: 0;
  left: -40px;
  background-color: rgb(244, 68, 52);
  padding: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: white;
}
