.assign-1-shape-1 {
    background-color: gainsboro;
    outline:5px solid black;
    border:5px solid red ;
    margin: 15px;
    padding: 30px;
    display: inline-block;
}

.assign-1-shape-2{
    background-color: gainsboro;
    outline:5px solid black ;
    border: 5px solid ;
    border-color: blue green;
    margin: 15px;
    padding: 30px;
    display: inline-block;
}

.assign-1-shape-3{
    background-color: gainsboro;
    outline:5px solid black ;
    border: 5px dashed ;
    border-color: red green blue yellow;
    margin: 15px;
    padding: 30px;
    display: inline-block;
}
