.assign-2-shape-1 {
    width: 400px;
    height: 20px;
    padding: 10px;
    margin: 30px;
    outline: 10px solid #eee ;
    border-left: 7px solid #e91e63 ;
    background-color: #eee;
}
.assign-2-shape-2 {
    width: 400px;
    height: 20px;
    padding: 10px;
    margin: 30px;
    outline: 10px solid #eee ;
    border-left: 7px solid #e91e63 ;
    background-color: #eee;
    visibility: hidden;
}
.assign-2-shape-3 {
    width: 400px;
    height: 20px;
    padding: 10px;
    margin: 30px;
    outline: 10px solid #eee ;
    border-left: 7px solid #009688 ;
    background-color: #eee;
}
